@import "../styles/mixins";
@import "../styles/variables";
@import "../styles/responsive.scss";
.content-address {
    width: 98%;
    height: 85%;
    background-color: white;
    margin: 5px;
    @media only screen and (max-width: 1200px) {
        width: 100%;
        height: 100%;
        margin: -3px!important;
    }
}

.title {
    color: $color-blue;
    border-bottom: solid 3px$color-blue;
    border-bottom-color: $color-blue;
    font-size: 16px;
    font-weight: 600;
    width: 98%;
    display: flex;
    margin: 10px;
    margin-left: 22px;
    @media only screen and (max-width: 1200px) {
        width: 100%;
    }
    @media (min-width: 1200px) {
        .title {
            font-size: 1.5rem;
        }
    }
}

.example-form {
    display: flex;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    @media only screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        max-width: none;
    }
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.inputs {
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin: 22px;
    .form {
        display: flex;
        flex-direction: row;
        gap: 46px;
    }
    .inputs1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 60%;
        @media only screen and (max-width: 1200px) {
            margin: 0px;
            .form {
                display: flex;
                gap: 11px;
                flex-direction: column!important;
            }
        }
    }
    .inputs2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 40%;
        @media only screen and (max-width: 1200px) {
            margin: 0px;
            .form {
                display: flex;
                gap: 11px;
                flex-direction: column!important;
            }
        }
    }
    @media only screen and (max-width: 1200px) {
        margin: 10px;
        .form {
            display: flex;
            gap: 11px;
            flex-direction: column!important;
        }
    }
}

.input-style {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #04a04b; // change this to your desired color
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(4, 160, 75, .25); // change this to match your border color
    }
}

.matcard {
    background-color: #DAECF6;
    padding: 20px;
    color: #7E9DAA;
    .matcard-header {
        font-weight: bold;
        font-size: 20px;
        border-bottom: 2px solid #7E9DAA;
        color: #7E9DAA;
        .matcard-header {
            font-weight: bold;
            font-size: 20px;
            border-bottom: 2px solid #7E9DAA;
            color: #7E9DAA;
            margin-bottom: 23px;
            display: flex;
            height: 40px;
        }
        @media only screen and (max-width: 1200px) {
            margin: 10px;
        }
    }
    @media only screen and (max-width: 1200px) {
        margin: 10px;
    }
}

.card {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 1.25rem;
    margin: 1rem 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &:hover {
        color: #fff;
        background-color: $vs-blue-highlight;
        border-color: $vs-blue-highlight;
    }
}

.card-button {
    display: flex;
    flex-direction: row-reverse;
}

.Go-to {
    background-color: $vs-blue;
    color: #ffffff;
}

.button-next-previous {
    border: 0;
}

.button-orange {
    background-color: $btn-color-orange;
    color: white;
    padding: 20px;
}

.button-disabled {
    background-color: gray;
    color: white;
}

.card-button {
    display: flex;
}

.button-shadow {
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 992px) {
    /* Agrega tus estilos para pantallas con un ancho máximo de 992px aquí */
}

.input-focus-green:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
    /* Change to any color you like */
    border-color: green;
    /* You may want to change this too for a consistent look */
}

.error-message {
    color: red;
    font-size: 12px;
}

.decline-addon {
    background-color: #ff0000a1;
    color: white;
    padding: 10px;
}

.btn-custom {
    background-color: $btn-color-orange;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: $color-yellow;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
